bin/
*.classpath
*.project
*~
Localization.iml
Localization.ipr
Localization.iws
Localization.jar
gen/
out/
test/
trace/
capture/
android-app/default.properties
results.txt
capture*/
trace-*/